<div class="card">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="title">
        <p>{{title}}</p>
      </div>
    </div>
  </div>
  <div class="row mt-5" *ngIf="pokemon">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="align-items-center" style='display: flex'>
            <label class="me-3" style='width: 60px'>Nombre</label>
            <div style='width: 300px'>
              <input type="text" class="input" [(ngModel)]="pokemon.name"/>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="align-items-center" style='display: flex'>
            <label class="me-3" style='width: 60px'>Imagen</label>
            <div style='width: 300px'>
              <input type="url" class="input" [(ngModel)]="pokemon.image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="align-items-center" style='display: flex'>
            <label class="me-3">Ataque</label>
            <span class='me-2'>0</span>
            <div class="slide-container text-center">
              <input type="range" class="slider" [(ngModel)]="pokemon.attack"/>
              <div style='width: 100%; text-align: center'><small style='width: 100%'><b>{{pokemon.attack}}</b></small>
              </div>
            </div>
            <span class='ms-2'>100</span>
          </div>
          <div class="col-md-12">
            <div class="align-items-center" style='display: flex'>
              <label class="me-3">Defensa</label>
              <span class='me-2'>0</span>
              <div class="slide-container text-center">
                <input type="range" class="slider" [(ngModel)]="pokemon.defense"/>
                <div style='width: 100%; text-align: center'><small
                  style='width: 100%'><b>{{pokemon.defense}}</b></small></div>
              </div>
              <span class='ms-2'>100</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center d-flex" style='justify-content: center'>
      <button class="btn me-3" (click)="procesarPokemon()">
        <i class="fa fa-save"></i> {{nuevo ? 'Guardar' : 'Actualizar'}}
      </button>
      <button class="btn" (click)="cancelarProceso()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>
  </div>
</div>
